.img_fit {
  width: 10%;
  height: 30%;
  object-fit: contain;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.dashboardHeader_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.titleA2 {
  display: inline;
  font-family: Amaranth;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: #000000;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 30%;
  margin-left: 3%;
  margin-right: 3%;
  background: #6a7081;
  border-radius: 5px;
  height: 33%;
}

.content {
  color: white;
  font-family: Almarai;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 112px;
  display: inline;
  align-items: center;
}

.contentG {
  color: white;
  font-family: Almarai;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 112px;
  display: inline;
  align-items: center;
}

.content:hover {
  color: #ff6d88;
}


.cards:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .cards {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.lunch-and-learn-card {
  color: white;
  background-color: #6a7081;
  font-size: 100px;
  font-family: Almarai;
  font-style: normal;
  line-height: 112px;
  text-align: center;
  border-radius: 5px;
  padding: 24px;
  margin: 3%;
}

.lunch-and-learn-card:hover {
  cursor: pointer;
  color: #ff6d88;
}