.roomItem {
    border: 2px solid gray;
    padding: 15px;
    width: 50%;
    margin: 30px;
    display: grid;
    grid-template: 5fr 1fr / 1fr 1fr;
    min-height: 200px;
    background-color: #eee;
}

.roomTitle {
    font-size: 30px;
    font-weight: 700;
}

.peopleList {
    font-weight: 500;
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
    border-left: 1px solid lightgray;
    padding: 30px;
    padding-top: 10px;
}

.checkOutButton {
    padding: 5px;
    margin-right: 30px;
}

#floorNum {
    align-self: center;
    font-weight: 600;
    font-size: 40px;
}

#wholePage {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 12px;
  }

  #back {
    background: #ff6d88;
    align-items: flex-start;
    width: 7%;
    text-align: center;
    border: none;
    margin: 15px;
    padding: 10px 10px;
    font-family: Verdana;
    font-weight: bold;
    color: white;
    font-size: 13px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  #back:hover {
    background: #6a7081;
    cursor: pointer;
  }
  
#title {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .roomTitle {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .roomItem {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        }
    
  }