.welcomeTitle {
  font-family: Verdana;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;

  color: #000000;
  padding-top: 10%;
  padding-left: 20%;
}

.mfTitle {
  margin-left: 20%;
}

.titleSTEM {
  display: inline;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  color: #b1b1b1;
}

.titleAE {
  display: inline;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  color: #ff6d88;
}

.buttonSignIn {
  background: #ff6d88;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35%;
  margin-top: 10%;
  width: 30%;
  border: none;
  padding: 15px 32px;
  font-family: Verdana;
  font-weight: bold;
  color: white;
  font-size: 30px;
  text-decoration: none;
  border-radius: 5px;
}

.buttonSignIn:hover {
  background: #6a7081;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .buttonSignIn {
    width: 90%;
    margin: 5%;
  }

  .titleAE {
    font-size: 48px;
  }

  .titleSTEM {
    font-size: 48px;
  }

  /*Big smartphones [426px -> 600px]*/
}
